html {
    background-color: #125A37; 
}

body {
    text-align: center;
    background-color: #002A4E;
    margin:50px; 
    color: #DDDAC7;
   
}

h1 {
    font-family: 'Pontano Sans', cursive;
    text-align: center;
    color:   #DDDAC7;
    font-size: 5em;
    text-shadow: 4px 4px black;
}

b {
    text-shadow: 2px 2px black;
    color: #66CDAA;
}
form {
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
   
}


fieldset {
    display:inline;
    font-size: 1.5em;
    padding-left: 250px;
    padding-right: 300px;
}

#csumb {
    border-radius: 50px;    
}

#csumbBanner {
    border-radius: 50px;    
}

hr {
    width: 60%;
}

strong {
    color: red;
}

footer {
    text-align: center;
    font-size: 10px;
    clear: left;
    color: white;
}

#submit {
      width: 20em;  height: 2em;
      background-color: #DDDAC7;
}



